 <widget id="A6004071083895"  version="0.0.1">


    <name>责联网</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="html/login.html" />

    <access origin="*" />

    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>

	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

	<preference name="hScrollBarEnabled" value="false"/>

	<preference name="vScrollBarEnabled" value="false"/>

	<preference name="autoLaunch" value="true"/>

	<preference name="fullScreen" value="false"/>

	<preference name="autoUpdate" value="true" />

	<preference name="smartUpdate" value="false" />

	<preference name="debug" value="true"/>

	 <preference name="statusBarAppearance" value="false"/>
	<permission name="readPhoneState" />
  <preference name="autoUpdate" value="true"/>
  <preference name="smartUpdate" value="true" />
	<permission name="camera" />

	<permission name="record" />

	<permission name="location" />

	<permission name="fileSystem" />

	<permission name="internet" />

	<permission name="bootCompleted" />

	<permission name="hardware" />
  <permission name="android.permission.RECORD_AUDIO"/>
  <permission name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <feature name="bdTTS">

      <param  name="appId_iOS" value="10665882"/>
      <param  name="apiKey_iOS" value="M0EXftb4K00yqN4SjYrQF3Th"/>
       <param  name="secretKey_iOS" value="1b010d38a92073fd7c44da733aaa5f58"/>

      <param  name="appId_android" value="10665882"/>
      <param  name="apiKey_android" value="M0EXftb4K00yqN4SjYrQF3Th"/>
       <param  name="secretKey_android" value="1b010d38a92073fd7c44da733aaa5f58"/>
      </feature>
      <feature name="IFlyVoice">
  <param name="appId_iOS" value="123ab67" />
  <param name="appId_Android" value="123ab67" />
</feature>
</widget>
