<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Page Description">
    <meta name="author" content="Administrator">
    <title>材料检查型</title>
    <script src="jquery/jquery.js"></script>
    <link href="./bootstrap/bootstrap.css" rel="stylesheet">
    <script src="bootstrap/bootstrap.js"></script>
    <link href="./css/submit.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/mui.css" />
    <style type="text/css">
        img{
            display:none;
        }
        .container{
            margin-top: 40px;
        }
        #margin{
            margin-top: 10px;
            margin-left: 15px;
            font-size: 12px;
        }
        button:nth-of-type(1){
            margin-left: 50px;
            margin-right: 15px;
        }
        button{
            margin-top: 15px;
        }
    </style>

</head>
<body>
  <header class="mui-bar mui-bar-nav" id="header">
     <span class="mui-icon mui-icon-back mui-pull-left" tapmode onclick="comeBack()"></span>
     <h1 class="mui-title">工作提交</h1>
     <span class="mui-icon mui-icon-person mui-pull-right" tapmode onclick="personal()"></span>
   </header>
<div class="container">
    <div class="row col-xs-12">
        <input type="hidden" value="" id="score">
        <form class="form-horizontal" role="form" id="form">
            <input type="hidden" name="type" value="3">
            <input type="hidden" name="work_id" value="" id="work_id">
            <input type="hidden" name="tz_type" value="" id="tz_type">
            <input type="hidden" name="user_id" value="" id="user_id">
            <div class="form-group">
                <label class="col-sm-2 col-md-2 col-lg-1-1 control-label"></label>
                <div class="col-sm-2">
                    <input id="lefile" type="file" style="display:none" name="photograph1" >
                    <div class="input-append">
                        <img src="" alt="" width="170px" height="150px" id="img">
                    </div>
                </div>
                <button onclick="$('input[id=lefile]').click();" type="button" class="btn btn-primary"
                        style="background:#009688">
                    上传图片
                </button>

            </div>
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 col-md-2 col-lg-1 control-label"></label>-->
                <!--<div class="col-sm-3">-->
                    <!--<input id="lefile1" type="file" style="display:none" name="photographs1" >-->
                    <!--<div class="input-append">-->
                        <!--<img src="" alt="" width="170px" height="150px" id="img1">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<button onclick="$('input[id=lefile1]').click();" type="button" class="btn btn-primary"-->
                        <!--style="background:#009688">-->
                    <!--拍摄-->
                <!--</button>-->

            <!--</div>-->

            <div class="form-group">
                <label class="col-sm-2 col-md-2 col-lg-1 control-label">完成情况</label>
                <div class="col-sm-6">
                    <select class="form-control" name="zp_score" id="fraction">
                        <option value='25'>完成25%</option>
                        <option value="50">完成50%</option>
                        <option value='75'>完成75%</option>
                        <option value='100'>全部完成</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-2 col-lg-1 control-label">得分依据</label>
                <div class="col-sm-8">
                    <textarea class="form-control" disabled rows="6" id="work_basis" name="basis"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 col-md-2 col-lg-1 control-label">检查记录</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="6" id="text_content" name="text_content"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-md-2 col-lg-1 control-label">相关建议</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="3" id="text_jianyi" name="text_jianyi"></textarea>
                </div>
            </div>
            <!--           <div class="form-group">
                          <label class="col-sm-1 control-label">督办类容</label>
                          <div class="col-sm-10">
                              <textarea class="form-control" rows="8"></textarea>
                          </div>
                      </div> -->

            <div class="button">
            </div>
            <div class="submit">
                <button type="button" class="btn btn-info" id="sub">提交</button>
                <button type="reset" class="btn btn-default" id='reset'>重新填写</button>
            </div>

        </form>
    </div>
</div>


</body>
<script type="text/javascript">

var ip = localStorage.getItem("ip")
var Url = `http://${ip}/shop/src/job.php`
    $('#reset').click(function () {
        $("#img").attr("src",'');

    })

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    var work_id = getQueryString("work_id");
    var tz_type = getQueryString("tz_type");
    var user_id =  localStorage.getItem("user_id")
  $("#work_id").val(work_id);
  $("#tz_type").val(tz_type);
  $("#user_id").val(user_id);
    $.ajax({
        url:Url,
        dataType: 'json',
        type: 'post',
        data: {
            type: 2,
            work_id: work_id
        },
        success: function (ret) {
            $("#work_basis").html(ret.basis);
            $("#q_score").val(ret.avg_score);
        }
    })
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }

    $("#lefile").on("change", function () {
        var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
        if (objUrl) {
            $('#photograph1').val($(this).val());
            $("#img").attr("src", objUrl); //将图片路径存入src中，显示出图片
            $("#img").show();
        }
    });
    $("#lefile1").on("change", function () {
        var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
        if (objUrl) {
            $('#photographs1').val($(this).val());
            $("#img1").attr("src", objUrl); //将图片路径存入src中，显示出图片
            $("#img").show();
        }
    });

    $("#sub").click(function () {
        var formData = new FormData($("#form")[0]);
        // if (false){
        //       alert("请填写检查人")
        // }else if(false){
        //     alert("分数")
        // }
        // else
        alert($("#fraction").val())
        alert($("#score").val())
        if($('#text_content').val()==''){
            alert("请填写检查记录")
        }else if ($('#text_jianyi').val()==''){
            alert("请填写相关建议")
        }else{$.ajax({
            url: Url,
            type: 'post',
            data: formData,
            // 告诉jQuery不要去处理发送的数据
            processData: false,
            dataType: "json",
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            // beforeSend: function () {
            //     console.log("正在进行，请稍候");
            // },
            success: function (data) {
                if(data.code==200){
                    alert("提交成功")
                    window.location.href='../responset/jobsub.html';
                }else{
                    alert(data.msg)
                }
            },
        });}
    })
    function comeBack(){
    	    api.historyBack({
    	    },function(ret,err){
    		        if (!ret.status) {
    			            api.closeWin();
    		        }
    	    });
    }
</script>
</html>
